body{
    background-color: black;

}
.links{
color: white;
background-color: black
}
a{
    margin-right:40px;
    color: white;
    align-items: center;
    padding-left: 120px;
    text-decoration: none;
}
.cat-section{
    position: absolute;
    width: 100%;
    top: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.images{
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: black;
    gap: 4%;
    align-items: center;
    border: 10px;
}
button{
    color: black;
    background-color: orange;
}
p{
    color: white;
    background-color: black;
}
h1{
    color: orange;
}
}h3{
    color: orange;
    background-color: black;
}
h4{
    color: white;
}
.web-section{
    background-image: url(guinea.jpeg);
}